
.row.well(ng-controller="gallery_controller")
	h2.
		Gallery

	tabset
		tab(select="get_photo_list()")
			tab-heading
				i.glyphicon.glyphicon-camera
				|&nbsp;Pictures

			.col-xs-6.col-md-4.gallery-thumbnail(ng-repeat="photo in photo_list")
				img.img-responsive.img-rounded(ng-src="{{photo['path']}}")

		tab(select="get_video_list()")
			tab-heading
				i.glyphicon.glyphicon-facetime-video
				|&nbsp;Videos				
			|Yah - {{ video_list }}



