
.row.well(ng-controller="gallery_controller")
	h2.
		Gallery

	tabset
		tab(select="get_photo_list()")
			tab-heading
				i.glyphicon.glyphicon-camera
				|&nbsp;Pictures

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1)]')
				a(ng-click="open_photo(images_per_page * (current_page - 1))", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1)]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 1]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 1)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 1]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 2]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 2)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 2]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 3]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 3)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 3]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 4]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 4)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 4]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 5]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 5)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 5]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 6]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 6)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 6]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 7]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 7)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 7]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 8]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 8)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 8]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 9]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 9)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 9]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 10]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 10)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 10]['thumb_url'] }}")

			.col.xs-6.col-md-4.gallery-thumbnail(ng-if='photo_list[images_per_page * (current_page - 1) + 11]')
				a(ng-click="open_photo(images_per_page * (current_page - 1) + 11)", href="")
					img.img-thumbnail(ng-src="{{ photo_list[images_per_page * (current_page - 1) + 11]['thumb_url'] }}")



			.col-xs-12.text-center
				pagination(total-items='num_images', ng-model="current_page")




		tab(select="get_video_list()")
			tab-heading
				i.glyphicon.glyphicon-facetime-video
				|&nbsp;Videos				
			|Yah - {{ video_list }}



