
.row.well(ng-controller="gallery_controller")
	h2.
		Gallery

	tabset
		tab(select="get_photo_list()")
			tab-heading
				i.glyphicon.glyphicon-camera
				|&nbsp;Pictures
			p
				|Boo
			img(ng-repeat="photo in photo_list", ng-src="{{photo['path']}}", width="200pt")

		tab(select="get_video_list()")
			tab-heading
				i.glyphicon.glyphicon-facetime-video
				|&nbsp;Videos				
			|Yah - {{ video_list }}



